
    <div class="menu_info">
        <div class="title">主页</div>
        <div class="go_back"></div>

    </div>
    <div class="menu_box ">
        <div class="logo">   欢迎 ,admin <!--  <a href="login.html">退出</a>--></div>
        <div class="menu_ico">

        </div>
    </div>
    <div class="tool_bar"></div>
    <nav class="left_menu ico_txt">
        <ul class="left_menu_ul ">
            <li class="left_menu_li">
                <a class="nav_txt" href="/">
                    <i class="ico_home"></i>
                    <span>主页</span>
                </a>
            </li>
            <li class="left_menu_li">
                <a class="nav_txt">
                    <i class="ico_imports"></i>
                    <span>进货</span>
                </a>
                <ul class="sec_ul">
                    <li>
                        <a href="imports.html">
                            <span>进货单管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="imports.html#add">
                            <span>添加进货单</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="left_menu_li">
                <a class="nav_txt " href="order.html">
                    <i class="ico_order"></i>
                    <span>订单</span>
                </a>
            </li>
            <li class="left_menu_li">
                <a class="nav_txt " href="my.html">
                    <i class="ico_my"></i>
                    <span>我的</span>
                </a>
            </li>

        </ul>
    </nav>

    <div class="bg_shade" style="display: none"></div>
