<ul>
	<li>
    	<a data-path="order" href="javascript:;">订单</a>
    </li>
    <li>
    	<a data-path="imports" href="javascript:;">进货</a>
        <ul>
            <li>
                <a data-path="imports" href="javascript:;">进货单管理</a>
            </li>
        </ul>
    </li>
    <li>
    	<a data-path="" href="javascript:;">库存</a>
        <ul>
            <li>
                <a data-path="stock_agent" href="javascript:;">经销商库存</a>
            </li>
            <li>
                <a data-path="stock_storehouse" href="javascript:;">进货单入库</a>
            </li>
        </ul>
    </li>
</ul>