.coupon_bar{position:fixed;z-index:50;left:0;top:12vw;width:100%;height:10.67vw;line-height:10.67vw;overflow:hidden;background:#949494;vertical-align:middle;padding-right:7.5vw;font-size:4.4vw;}
.coupon_bar span{color:#fff;padding:0 3vw 0 2vw;}
.coupon_bar em{display:inline;padding:0.3vw 2.6vw 0.5vw;border:1px solid #fff;border-radius:10vw;margin-right:1vw;font-size:4vw;}

.icon_arrow_right{display:inline-block;width:2.53vw;height:4.13vw;background:url(/estore/images/icon_arrow_right.png) no-repeat;background-size:cover;background-position:50% 50%;}
.coupon_bar .icon_arrow_right{position:absolute;right:2vw;top:3vw;}

.pub_box2{position:relative;z-index:40;padding:22.67vw 0 12.9vw;}
.pub_box2.no_coupon{padding-top:0;}

/* index_list */
.index_list_tab{position:fixed;left:0;top:22.67vw;bottom:13vw;right:0;
width:21.28vw;}
.pub_box2.no_coupon .index_list_tab{top:12vw;}

.index_list_tab ul{height:100%;}
.index_list_tab li{position:relative;flex:1;background:#f7f7f7;color:#888;border-bottom:1px solid #eee;/*height:18.4vw;*/font-size:3.8vw;padding:0 2vw;height:100%;}
.index_list_tab li div{position:absolute;left:0;top:0;bottom:0;right:0;}
.index_list_tab li span{display:table;width:100%;height:100%;}
.index_list_tab li em{display:table-cell;vertical-align:middle;text-align:center;padding:0 2vw;}
.index_list_tab li.curr{position:relative;background:#fff;color:#555;}
.index_list_tab li.curr:after{position:absolute;content:"";width:0.8vw;height:100%;left:0;top:0;background:#00b09d;}
.index_list_con{position:relative;height:100%;margin-left:21.28vw;}
.index_list_con h3{position:fixed;z-index:41;width:100%;height:7vw;line-height:7vw;padding-left:2.67vw;background:#f7f7f7;font-size:3.8vw}
.index_list_con_inner{padding-top:7vw;}
.index_list_con_inner li{background:#fff;}

.list_four_btn{position:absolute;right:-1vw;bottom:-1vw;}
.list_four_btn .sku_btn{display:inline-block;text-align:center;color:#fff;background:#00b09d;width:14.67vw;height:5.6vw;line-height:5.6vw;border-radius:5vw;position:relative;top:-0.3vw;}

.increase{display:inline-block;width:6.4vw;height:6.4vw;background:url(../../../../assets/images/increase.png) no-repeat;background-size:cover;background-position:50% 50%;}
.list_four_btn .increase{}
.decrease{display:inline-block;width:6.4vw;height:6.4vw;background:url(../../../../assets/images/decrease.png) no-repeat;background-size:cover;background-position:50% 50%;}
.increase,.decrease{vertical-align:bottom;}
.list_four_btn .decrease{}
.indecrease_input{display:inline-block;text-align:center;margin:0 1vw;color:#333;vertical-align:bottom;font-size:3.6vw;width:4.2vw;height:6.4vw;line-height:6.4vw;overflow:hidden;}


.trolley_con_wrapper{position:fixed;z-index:8888;top:0;bottom:13vw;left:0;width:100%;}
.trolley_con_wrapper .mask{position:absolute;z-index:8889;top:0;left:0;right:0;bottom:0;background:#000;opacity:0.2;}
.trolley_con{position:absolute;z-index:8890;bottom:0;background:#fff;width:100%;}
.trolley_con_head{position:relative;height:10.67vw;padding:3.2vw 0 0 2.67vw;background:#f7f7f7;}
.trolley_con_head h2{position:relative;padding-left:2.67vw;}
.trolley_con_head h2:after{position:absolute;content:"";width:0.8vw;height:100%;left:0;top:0;background:#00b09d;}
.trolley_con_head a{display:inline-block;height:100%;position:absolute;top:0;right:0;padding:2.67vw 2.67vw 0 2.67vw;}
.icon_clear{display:inline-block;width:3.73vw;height:3.73vw;background:url(/estore/images/icon_clear.png) no-repeat;background-size:cover;background-position:50% 50%;}
.trolley_con_head .icon_clear{ vertical-align:-0.47vw;margin-right:0.6vw;}
.trolley_con_list{height:45vw;overflow:hidden;}
.trolley_con_list li{position:relative;padding:4.2vw 0 0vw;border-top:1px solid #eee;height:15vw;}
.trolley_con_list li:first-child{border-top:0 none;}
.trolley_con_list .detail{position:absolute;display:block;font-size:4vw;width:52vw;padding-left:2.67vw;}
.trolley_con_list li .trolley_cl_middle{margin-left:52vw;}
.trolley_con_list li .trolley_cl_right{position:absolute;right:2.3vw;bottom:3vw;}
.trolley_con_list .name{display:block;color:#333;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;padding-top:0.6vw;}
.trolley_con_list .sku{display:block;color:#999;font-size:2.8vw;margin-top:-1.2vw;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
.trolley_con_list .price{display:inline-block;font-size:4.2vw;width:22vw;overflow:hidden;vertical-align:-1.8vw;padding-left:1vw;white-space:nowrap; text-overflow:ellipsis;}

.trolley_con_list .increase,.trolley_con_list .decrease{vertical-align:bottom;}
.trolley_con_list .indecrease_input{vertical-align:bottom;}
.trolley_tips{position:absolute;left:0;top:0;bottom:0;right:0;}
.trolley_tips span{display:table;width:100%;height:100%;}
.trolley_tips em{display:table-cell; vertical-align:middle; text-align:center;}


.nav_bot2{position:fixed;z-index:1000;left:0;right:0;margin:auto;bottom:0;}
.nav_bot2 ul{display:-moz-box;display:-webkit-box;display:box;background:#fff;width:100%;margin:0 auto;}
.nav_bot2 ul li{height:13vw;line-height:13vw;-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0; width:0;border-top:1px solid #00b09d;}
.nav_bot2 ul li:first-child{-moz-box-flex:2.0;-webkit-box-flex:2.0;box-flex:2.0;border-top:1px solid #D8D8D8; }
.nav_bot2 .price_num{font-size:4vw;padding-left:3vw;color:#999;}
.nav_bot2 .price_num em{color:#00b09d;}
.icon_nav_shop{display:inline-block;width:6.13vw;height:6.13vw;background:url(../../../../assets/images/icon_nav_shop.png) no-repeat;background-size:cover;background-position:50% 50%;}
.nav_bot2 .icon_nav_shop{ vertical-align:-1.2vw}



.nav_bot ul li a.nav_bot1_btn{color:#fff;}
.nav_bot1_btn{background:#0FAB72;color:#fff;display:block;width:100%;text-align:center;height:100%;line-height:13vw;font-size:4vw;}
.nav_bot1_btn em{padding:0 5px;}

.trolley_link{position:relative;margin-right:2vw;}
.trolley_num{position:absolute;background:#ff7aa3;border-radius:100px;color:#fff !important;display:block;font-family:arial;font-size:14px;text-align:center;top:-3.1vw;right:-2vw;font-size:3.4vw;min-width:4.6vw;padding:0.2vw 0.4vw;line-height:4.6vw;}

.icon_alipay{display:inline-block;width:7.07vw;height:7.07vw;background:url(/estore/images/icon_alipay.png) no-repeat;background-size:cover;background-position:50% 50%;}
.pay_method .icon_alipay{position:absolute;top:50%;left:4vw;margin-top:-3.53vw;}

.confirm_way{position:relative;background:#fff;padding:4vw 30vw 4vw 3vw;margin-bottom:3vw;}
.confirm_way .tit{color:#999;font-size:3.6vw;}
.confirm_way .way{position:absolute;left:28vw;top:4vw;}
.confirm_way .way span{padding:1.6vw 5vw;border:1px solid #999;border-radius:5vw;margin-right:3vw;}
.confirm_way .way span.curr{border:1px solid #00b09d;color:#00b09d;}

.no_address_inner{}
.no_address_inner a{padding:3vw;display:inline-block;text-align:center;width:100%;}



.list_four_box{background:#fff;}
.list_four_box li{border-bottom: 1px solid #eee;}
.list_four{position:relative;height: auto !important;}
.list_four_cover{position:absolute;overflow:hidden;top:0;left:0;}
.list_four_cover:before{content:"";display:block;padding-top:100%;}
.list_four_cover .content{position:absolute;top:0;left:0;bottom:0;right:0;}
.list_four_cover .list_cover_img{width:100%;height:100%;display:block;background-size:cover;background-repeat:no-repeat;border-radius:5px;background-position:50% 50%;}
.list_four_tit{overflow: hidden;}
.list_four_tit a{color:#333;}
.list_four_num {position:absolute;bottom:0;left:0;width:100%;}
.list_four_price{position:relative;}
.list_four_price .f_left{float:left;}
.list_four_price .del_price{text-decoration:line-through;}
.list_four_price .sales_volume{float:right;color:#999;}

.list_four_box li{padding:3vw 3vw;}
.list_four{padding-left:22.5vw;min-height:19.5vw;padding-bottom:5vw;}
.list_four_cover{width:19.5vw;}
.list_four_tit a{font-size:4vw}
.list_four_num {bottom:-0.8vw;}
.list_four_price .price{font-size:3.4vw;padding-right:1vw;padding-left:22.5vw;}
.list_four_price .del_price{font-size:2.7vw;}
.list_four_price .sales_volume{font-size:2.7vw;display:inline-block;margin-top:0.2vw;}






/* ui-purchasePopup */
.purchasePopup{position:fixed;top:0;left:0;z-index:100000;display:none;width:100%;height:100%;background:rgba(0,0,0,.3);}
.purchasePopup .main{position:relative;width:100%;height:100%;background:rgba(255,60,2,0);}
.purchasePopup .main .mianBottom{position:absolute;bottom:0;left:0;width:100%;background:#fff;}
.purchasePopup .main .orderBox{margin:auto;width:94.6%;height:100%;background:-red;}
.purchasePopup .main .orderBox .top{position:relative;overflow:hidden;padding-top:15px;padding-bottom:20px;width:100%;height:auto;border-bottom:1px solid #efefef;}
.purchasePopup .main .orderBox .top .img{float:left;width:30%;}
.purchasePopup .main .orderBox .top .img .img_box{position:relative;width:100%;}
.purchasePopup .main .orderBox .top .img .img_box:before{display:block;padding-top:59%;content:"";}
.purchasePopup .main .orderBox .top .img .img_icon{position:absolute;top:0;right:0;bottom:0;left:0;}
.purchasePopup .main .orderBox .top .img .img_icon span{display:block;width:100%;height:100%;background-position:50% 50%;background-size:cover;}
.purchasePopup .main .orderBox .top .img img{display:inline-block;width:100%;height:100%;}
.purchasePopup .main .orderBox .top .details{float:left;width:70%;height:100%;background:-blue;}
.purchasePopup .main .orderBox .top .details span.skuid{display:block;padding-left:15px;width:80%;color:#333;font-size:4vw;}
.purchasePopup .main .orderBox .top .details span.battery{display:block;padding-left:15px;width:80%;color:#999;font-size:3.2vw;}
.purchasePopup .main .orderBox .top .details span.price{display:block;margin-top:15px;padding-left:15px;width:80%;color:#00b09d;font-size:4.8vw;}
.purchasePopup .specific{width:100%;}
.purchasePopup .specific ul{overflow:hidden;margin-left:-2.7%;padding-bottom:15px;width:105.4%;}
.purchasePopup .specific ul li{float:left;margin-top:15px;margin-left:15px;padding:0 15px;width:auto;height:7.5vw;border:1px solid #666;border-radius:15px;color:#666;text-align:center;line-height:7.5vw;font-size:3.6vw;}
.purchasePopup .specific ul li.curr{border:1px solid #00b09d;color:#00b09d;}
.purchasePopup .specific .title{display:block;margin-top:15px;}
.purchasePopup .specificConfirm{bottom:0;left:2.7%;padding:15px 0;width:94.6%;border-top:1px solid #eee;}
.purchasePopup .specificConfirm span{display:block;margin:auto;width:48vw;height:10.67vw;border-radius:30px;background:#00b09d;color:#fff;text-align:center;font-size:5vw;line-height:10.67vw;}
.purchasePopup .close{position:absolute;top:0;right:0;padding:3.4vw 3vw 3.4vw 5vw;}
.purchasePopup .close span{display:inline-block;width:6vw;height:6vw;background:url(../../../../assets/images/icon_close.png) no-repeat;background-size:100%;}

/* nav_bot */
.nav_bot2{position:fixed;z-index:1000;left:0;right:0;margin:auto;bottom:0;}
.nav_bot2 ul{display:-moz-box;display:-webkit-box;display:box;background:#fff;width:100%;margin:0 auto;}
.nav_bot2 ul li{height:13vw;line-height:13vw;-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0; width:0;border-top:1px solid #00b09d;}
.nav_bot2 ul li:first-child{-moz-box-flex:2.0;-webkit-box-flex:2.0;box-flex:2.0;border-top:1px solid #D8D8D8; }
.nav_bot2 .price_num{font-size:4vw;padding-left:3vw;color:#999;}
.nav_bot2 .price_num em{color:#00b09d;}
.icon_nav_shop{display:inline-block;width:6.13vw;height:6.13vw;background:url(../../../../assets/images/icon_nav_shop.png) no-repeat;background-size:cover;background-position:50% 50%;}
.nav_bot2 .icon_nav_shop{ vertical-align:-1.2vw}

.nav_bot ul li a.nav_bot1_btn{color:#fff;}
.nav_bot1_btn{background:#0FAB72;color:#fff;display:block;width:100%;text-align:center;height:100%;line-height:13vw;font-size:4vw;}
.nav_bot1_btn em{padding:0 5px;}

/* quick_table */
.quick_none{padding:16vw 0 5vw; text-align:center;}


