@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.eot?v=4.0.3');
    src: url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{box-sizing:border-box;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,i{margin:0;padding:0; list-style:none;font-family: "微软雅黑"; -webkit-appearance: none;    font-style: normal;text-align:left}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;color: inherit;}
a{color:#2b2b2b; text-decoration:none;-webkit-tap-highlight-color:transparent;}
body{font-size:4.2vw;background-color: #f7f7f7;    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: horizontal;color:#666;text-align:left}
select{font-size:4.2vw;}
html,body{}
img { border:0px;}



/* head */
.header{}
.header .menu_box{height:12vw;width:75%; position:fixed; z-index:75;  left: -63%; transition: all .2s;
    top: 0;  color:#bbb; /*color:#fff;background: #3D933B*/}
.header .menu_box .logo{display:inline-block; line-height:12vw; padding-left:2vw}
.header .menu_box .menu_ico{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float: right;
    padding: 2.5vw 3.2vw;
    z-index:2;

}
.menu_box  .menu_ico:before {
    content: "\f0c9";
    font-size:7vw;
}

.header  .menu_info{width:100%; text-align:center;position:fixed; height:12vw;text-align: right;line-height:12vw;top:0;    background: #efefef; z-index:51;transition: all .15s;left:0;}
.header .go_back{
    font-family: FontAwesome;
    font-size: 10vw;
    width: 13vw;
    text-align: center;
    background: #E5E5E5;
    color: #535353; float: right;display: none;    position: absolute;
    right: 0; }
.header .title{float: left; text-align: center; width: 74vw; margin-left: 13vw;font-size:4.8vw;}
.header .go_back:before{  content: "\f104";}

.header .menu_go_left{left:0;}
.header .menu_go_left1{left:47%;}

.menu_go_left.menu_box{color:#fff;background:#0ABA7A;}

.header .left_menu{position:fixed;width:75%; height:100%;   top: 0px;padding-top:12vw;
    background:#12A56F;
    transition: all .2s;
    left:-75%;    z-index: 2;
   overflow: auto; overflow-x: hidden;
}
.left_menu .left_menu_ul{line-height:8vw}
.left_menu .left_menu_ul .left_menu_li{width:100%; margin:0}
.left_menu .left_menu_ul .left_menu_li i{display:inline-block;  color:#E0E24F; width:5vw;text-align:center;}
.left_menu .left_menu_ul .left_menu_li a{display:block;color:#fff;position: relative}
.left_menu .left_menu_ul .left_menu_li .curr{background:#139A68;    transition: all .2s;}
.left_menu .left_menu_ul .left_menu_li .nav_txt{   padding-left: 7vw;line-height: 13vw;}
.left_menu .left_menu_ul .left_menu_li .nav_txt span{font-weight: bold;font-size:4.6vw;}
.left_menu .left_menu_ul .left_menu_li .sec_ul{}
.left_menu .left_menu_ul .left_menu_li .sec_ul li{width:100%;margin:0}
.left_menu .left_menu_ul .left_menu_li .sec_ul a{padding-left:15vw;    color: #eee;    line-height: 10vw;font-size:4.4vw;}
.header .menu_go_left2{left:0%; }
.left_menu .ico_home{font-size: 5vw}

.left_menu .left_menu_ul .left_menu_li .router-link-active:after{content: "\f0d9"; font-family: FontAwesome;     color: #63C7A2;    font-size: 6vw;    position: absolute;    right: -1px;    top: 0;}




.header .bg_shade{width: 100%; height: 100%; position: fixed; top:0;left: 0; background: rgba(0,0,0,0.5);    z-index: 1;}

/* ico */
.ico_home,.ico_my,.ico_order,.ico_imports,.ico_imports_add,.ico_new_add,.ico_right{font-family: FontAwesome; }
.ico_home:before{content: "\f015";   }
.ico_my:before{content: "\f0f0";   }
.ico_order:before{content: "\f0b1";}
.ico_imports:before{content: "\f073";}
.ico_imports_add:before{content: "\f016";}
.ico_new_add:before{content:"\f067";}
.ico_right:before{ content: "\f105";}

.fl{float: left}
.fr{float: right}

.mb3{margin-bottom:5vw;}
.mb5{margin-bottom:5vw;}

/* color*/
.bg_white{background:#fff !important;}
.red{color: red !important;}
.green{color: green !important;}
.blue{color: dodgerblue !important;}

.flex{display:-webkit-flex;display:flex;}
.flex-v{-webkit-flex-flow:column;flex-flow:column;}


/* appContainer */

#appContainer{height:100%;}
#viewContainer{height:100%;padding-top:12vw;transition:transform .2s; width: 100%;  }
#viewContainer.menu_go_left3{transform: translateX(75%);}
.index  #viewContainer{padding-top:12vw !important}
.view{}

/* table */
.table{width:100%;border-collapse: collapse;border-spacing: 0;}
.table th{color:#fff;background:#0ABA7A;padding:3vw 2vw;}
/*.table th:nth-child(2n){background:#39A036;}*/
.table td{padding:4vw 2vw;border-bottom:1px solid #eee;text-align:center;}
.table.weak th{background:none;border-bottom:1px solid #eee;color:#666;font-weight:normal;}
.table_con .table th{background: #fff;  border-bottom: 1px solid #eee;  color: #666;  font-weight: normal;text-align: center;}

.more{padding:4vw 2vw;text-align:center;color:#999;}

/* dl */
.dl-horizontal{background:#fff;padding:2vw 4vw;}
.dl-horizontal dt,.dl-horizontal dd{line-height:9.2vw;color:#666;}
.dl-horizontal dt{clear:left;float:left;font-size:4.6vw;width:30vw;}
.dl-horizontal dd{margin-left:30vw;}
.dl-horizontal.ar dt{width:auto;}
.dl-horizontal.ar dd{text-align:right;}

/* flex */
.flex{display:-webkit-flex;display:flex;}
.flex-v{-webkit-flex-flow:column;flex-flow:column;}


/* ui-Tips */
.layer_hint {background: rgba(0,0,0,0.7);border-radius: 5px; padding: 7vw 10vw;display: inline-block;color: #fff;text-align: center;position: fixed; z-index:10000;}
.layer_hint strong {display: block;}

/* ui-loading */
.spinner_container{position:fixed;left:0;top:0;z-index:9999998;width:100%;height:100%;font-family:\5FAE\8F6F\96C5\9ED1;}
.spinner{position:absolute;left:50%;top:50%;z-index:9999999;width:70px;height:40px;margin:-20px 0 0 -25px}
.spinner>div{background-color:#F1502C;height:100%;width:6px;display:inline-block;-webkit-animation:stretchdelay 1.2s infinite ease-in-out;    margin-right: 3px;}
.spinner .rect2{-webkit-animation-delay:-1.1s}
.spinner .rect3{-webkit-animation-delay:-1s}
.spinner .rect4{-webkit-animation-delay:-.9s}
.spinner .rect5{-webkit-animation-delay:-.8s}
@-webkit-keyframes stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}

/* ui-confirm */
.confirm_wrapper{position:fixed;left:0;top:0;right:0;bottom:0;padding:0 5vw;background: rgba(255,255,255,0.4);}
.confirm_tb{display:table;width:100%;height:100%;}
.confirm_cell{display:table-cell; vertical-align:middle;}
.confirm{position:relative;min-height:20vw;background:#fff;border:1px solid #aaa;border-radius:6px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,.5); box-shadow:0 2px 5px rgba(0,0,0,.5);}
.confirm h2{font-size:5vw;height:10vw;line-height:10vw;padding:0 3vw;border-bottom:1px solid #f3f3f3;}
.confirm h2 i{    padding: 0 3vw;    position: absolute;    right: 0; color: #999}
.confirm_content{padding:5vw 3vw;}
.confirm_btns{padding:3vw 3vw;border-top:1px solid #f3f3f3;text-align:right;}
.confirm_btns a{display:inline-block;padding:2.4vw 5vw;color:#fff;background:#0FAB72;border-radius:4px;margin-left:3vw;}
a.confirm_cancel{color:#666;background:#fff;border:1px solid #ccc;}
