.select_box{background: #0ABA7A; color: #fff; text-align: center;=}
.select_box span{flex: 1;display: block ;line-height: 13vw; margin-top: 1px}
.select_box .curr{background: #fff; color: #787878;font-weight: bold}

/*.order  .list{ width: 90%; margin:5vw auto 0; height: auto; overflow: hidden;border-left:1px solid #ccc; border-top:1px solid #ccc; border-radius: 3px; background: #fff; }
.order .list dl{width: 100%;flex-direction: row; display: flex; text-align: center;background: none;}
.order .list  dl:nth-child(1){flex: 1; background: #0ABA7A; color: #fff}
.order .list  dd{flex: 1;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc; padding: 2vw;display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;}
*/